@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "grid";
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

body {
  font-size: 14px;
}

.NavBar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #f0f0f0;
}

.HomePage {
 background-color: #aeb6cf;
 height: 100vh;
 font-family: "Indie Flower", cursive;

 ul li {
  background: #cfaeb6;
  margin: 5px;
  border: solid grey;
  border-radius: 2%;

}
.position{
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px;
  padding-left: 70px;
}

input[type=submit] {
    padding:5px 15px;
    background: #cfaeb6;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.ShowPage {
  background-color: #aeb6cf;
  height: 100vh;
  font-family: "Indie Flower", cursive;
}

}

.AboutPage {

}

.ContactPage{

}

.AppPage {

}
